SecretGardenClient/Service References/SecretGardenServiceReference/SecretGardenServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SecretGardenServer" elementFormDefault="qualified" targetNamespace="SecretGardenServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SecretGardenServer" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Regist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterHall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="room" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="room" type="xs:int" />
        <xs:element minOccurs="0" name="ink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackShowRegistStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginCode" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecretGardenServer" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackShowLoginStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginCode" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SecretGardenServer" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackShowHall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rooms" nillable="true" type="q3:ArrayOfKeyValueOfintRoomWGXlccAw" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackEnterRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SecretGardenServer" minOccurs="0" name="room" nillable="true" type="q4:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackShowRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SecretGardenServer" minOccurs="0" name="room" nillable="true" type="q5:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackShowMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="who" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackShowInk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackStartNewTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SecretGardenServer" minOccurs="0" name="room" nillable="true" type="q6:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>