SecretGardenClient/Service References/SecretGardenServiceReference/SecretGardenServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="SecretGardenServer" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SecretGardenServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SecretGardenServer/Imports">
      <xsd:import namespace="SecretGardenServer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SecretGardenServer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecretGardenService_Regist_InputMessage">
    <wsdl:part name="parameters" element="tns:Regist" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_EnterHall_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterHall" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_RegistRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistRoom" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_EnterRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterRoom" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_SendInk_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInk" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackShowRegistStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackShowRegistStatus" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackShowLoginStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackShowLoginStatus" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackShowHall_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackShowHall" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackEnterRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackEnterRoom" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackShowRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackShowRoom" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackShowMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackShowMessage" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackShowInk_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackShowInk" />
  </wsdl:message>
  <wsdl:message name="ISecretGardenService_CallbackStartNewTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackStartNewTurn" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISecretGardenService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Regist">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/Regist" message="tns:ISecretGardenService_Regist_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/Login" message="tns:ISecretGardenService_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Logout">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/Logout" message="tns:ISecretGardenService_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnterHall">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/EnterHall" message="tns:ISecretGardenService_EnterHall_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegistRoom">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/RegistRoom" message="tns:ISecretGardenService_RegistRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnterRoom">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/EnterRoom" message="tns:ISecretGardenService_EnterRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/SendMessage" message="tns:ISecretGardenService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendInk">
      <wsdl:input wsaw:Action="SecretGardenServer/ISecretGardenService/SendInk" message="tns:ISecretGardenService_SendInk_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackShowRegistStatus">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackShowRegistStatus" message="tns:ISecretGardenService_CallbackShowRegistStatus_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackShowLoginStatus">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackShowLoginStatus" message="tns:ISecretGardenService_CallbackShowLoginStatus_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackShowHall">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackShowHall" message="tns:ISecretGardenService_CallbackShowHall_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackEnterRoom">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackEnterRoom" message="tns:ISecretGardenService_CallbackEnterRoom_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackShowRoom">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackShowRoom" message="tns:ISecretGardenService_CallbackShowRoom_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackShowMessage">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackShowMessage" message="tns:ISecretGardenService_CallbackShowMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackShowInk">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackShowInk" message="tns:ISecretGardenService_CallbackShowInk_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CallbackStartNewTurn">
      <wsdl:output wsaw:Action="SecretGardenServer/ISecretGardenService/CallbackStartNewTurn" message="tns:ISecretGardenService_CallbackStartNewTurn_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>